@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyFinance</h1>
    <h2>O seu app de controle financeiro</h2>
    <p>Gerencie suas finanças com facilidade e eficiência. Nosso aplicativo oferece recursos para controlar despesas e conectá-las a planos de conta. Simplifique sua vida financeira com MyFinance</p>
</div>
